<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Impermachat</title>
    <link href="/assets/css/missing.min.css" rel="stylesheet" type="text/css">
    <script type="module" src="/assets/js/datastar-1.0.0.beta.1.js"></script>
    <link href="/assets/css/styles.css" rel="stylesheet" type="text/css">

</head>
<body class="fullscreen">
    <nav class="navbar bg-base-100">
        <div class="nav-right">
            <a id="header-title">Impermachat</a>
        </div>
    </nav>
    <main>
        {% block body %}{% endblock %}
    </main>
</body>
</html>
