{% extends "base.html" %}

{% block body %}
<div class="">
    <div class="">
        <div class="">
            <h1 class="">Impermachat</h1>
            <p class="">
                Quick and easy ephemeral chat rooms with realtime typing display.
            </p>
        </div>
        <div class="">
            <form action="/" method="post" class="">
                <fieldset class="fieldset">
                    <label for="room_name" class="fieldset-label">Enter room</label>
                    <input id="room_name" type="text" pattern="[a-zA-Z0-9-]+" oninput="this.value = this.value.replace(/[^a-zA-Z0-9-]/g, '')" name="room_name" placeholder="Choose a room name..." />
                    <label for="hours" class="fieldset-label">Hours:</label>
                    <select id="hours" name="hours">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="12">12</option>
                    </select>
                    <label for="minutes" class="fieldset-label">Minutes:</label>
                    <select id="minutes" name="minutes">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="15">15</option>
                        <option value="30">30</option>
                        <option value="45">45</option>
                    </select>
                </fieldset>
                <button class="btn btn-neutral mt-4">Enter room</button>
                {% if show_message %}
                    <p class="bad color bg">{{ message }}</p>
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock %}
