{% extends "landing_base.html" %}

{% block body %}
<div class="hero bg-base-200 min-h-screen">
    <div class="hero-content hero-flex">
        <div class="hero-text">
            <h1 class="hero-title">Landing Page</h1>
            <p class="py-6">
                This is a short and punchy description of the site.
            </p>
            <button class="btn" data-on-click="@post('/sse')">CLICK</button>
            <div id="counter" data-signals-count="0" data-text="$count"></div>
        </div>
        <div class="card bg-base-100 landing-form">
            <div class="card-body">
                <fieldset class="fieldset">
                    <label class="fieldset-label">Email</label>
                    <input type="email" class="input" placeholder="Email" />
                    <label class="fieldset-label">Password</label>
                    <input type="password" class="input" placeholder="Password" />
                    <div><a class="link link-hover">Forgot password?</a></div>
                    <button class="btn btn-neutral mt-4">Login</button>
                </fieldset>
            </div>
        </div>
    </div>
</div>
{% endblock %}
