<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ImpermaChat</title>
    <link href="/assets/css/missing.min.css" rel="stylesheet" type="text/css">
    <script type="module" src="/assets/js/fixi-0.5.7.js"></script>
    <script type="module" src="/assets/js/datastar-1.0.0.beta.1.js"></script>
    <link href="/assets/css/styles.css" rel="stylesheet" type="text/css">
</head>
<body class="chat-body">
    <nav class="navbar">
        <div class="nav-right">
            <a class="">Room: {{ room_id }}</a>
        </div>
        <div class="nav-left" data-signals-remaining="30">
            <p data-text="$remaining"></p>
        </div>
    </nav>
    <div id="chat-container" class="chat-container">
        <div class="chat-half">
            <p class="chat-half-title">Chat log</p>
            <div id="room-messages" class="room-messages" data-on-load="@get('/room/{{ room_id }}/connect')">
                <div id="message-list"></div>
            </div>
            <div class="chat-control">
                <div id="chat-control"></div>
            </div>
        </div>
        <div class="chat-half">
            <p class="chat-half-title">People typing</p>
            <div id="typing" class="mt-4"></div>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            if (window.innerWidth <= 768) {
                const typingSection = document.querySelector('.chat-half:last-child');
                const typingTitle = typingSection.querySelector('.chat-half-title');
                typingTitle.addEventListener('click', function() {
                    typingSection.classList.toggle('expanded');
                });
            }
        });
    </script>
</body>
</html>
