<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ImpermaChat</title>
    <link href="/assets/css/missing.min.css" rel="stylesheet" type="text/css">
    <script type="module" src="/assets/js/fixi-0.5.7.js"></script>
    <script type="module" src="/assets/js/datastar-1.0.0.beta.1.js"></script>
    <link href="/assets/css/styles.css" rel="stylesheet" type="text/css">
</head>
<body class="fullscreen height:100%">
    <nav class="navbar">
        <div class="nav-right">
            <a class="">Room: {{ room_id }}</a>
        </div>
    </nav>
    <main class="f-row width:100%">
        <div class="flex-grow:1 justify-content:space-between">
            <div id="room-messages height:100% overflow:auto" data-on-load="@get('/room/{{ room_id }}/connect')">
                    <div id="message-list"></div>
            </div>

            <!-- this should become a response of setting a name -->
            <!-- <div data-on-keydown__window="evt.key == 'Enter' && @post('/room/{{ room_id }}/submit')"></div> -->
            <!-- <input id="room-input" class="input mt-4" data-signals-person="{{ person }}" data-bind-message data-on-input="@post('/room/{{ room_id }}/live')" /> -->
            <!-- <input id="set-name" data-bind-name  -->
        </div>
        <div class="flex-grow:1">
            <div id="typing" class="mt-4"></div>
        </div>
    </main>
</body>
</html>
