<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ImpermaChat</title>
    <link href="/assets/css/missing.min.css" rel="stylesheet" type="text/css">
    <script type="module" src="/assets/js/fixi-0.5.7.js"></script>
    <script type="module" src="/assets/js/datastar-1.0.0.beta.1.js"></script>
    <link href="/assets/css/styles.css" rel="stylesheet" type="text/css">
</head>
<body class="chat-body">
    <nav class="navbar">
        <div class="nav-right">
            <a class="">Room: {{ room_id }}</a>
        </div>
    </nav>
    <div class="chat-container">
        <div class="chat-half">
            <div id="room-messages" class="room-messages" data-on-load="@get('/room/{{ room_id }}/connect')">
                <div id="message-list"></div>
            </div>
            <div class="chat-control">
                <div id="chat-control"></div>
            </div>
        </div>
        <div class="chat-half">
            <div id="typing" class="mt-4"></div>
        </div>
    </div>
</body>
</html>
